{% extends 'stock_analyzer/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stock_analyzer/style.css' %}">
    <style>
        body {text-align: center;}
    </style>
{% endblock %}

{% block content %}
    <div>
        <p><a href="{% url 'compare_select' %}">Compare</a></p>
        <ul>
            {% for ticker in object_list %}
            
            <li>
            {{ticker.stock_ticker|upper}}
            <ul>
                <li><a href="{% url 'five_year' ticker.stock_ticker %}">Five Year Full</a></li>
                <li><a href="{% url 'five_year_split' ticker.stock_ticker %}">Five Year Split</a></li>
            </ul>
            </li>
            
            {% endfor %}
        
        </ul>

    </div>
    
{% endblock %}
